body{
  background-color: #F2F2F2;
  margin: 0;
}
#header{
  background-color:#3E333F;
  color:#F0E19E;
  font-weight: bolder;
  text-align: center;
}
@media screen and (max-width:480px){
  #content{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
  #header{
    height:120px;
    font-size: 70px;
  }
}
@media screen and (max-width: 928px) and (min-width:481px){
  #content{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
  #header{
    height:150px;
    font-size: 80px;
  }
}
@media screen and (max-width:1024px) and (min-width:929px){
  #content{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  #header{
    height:150px;
    font-size: 80px;
  }
}
@media screen and (min-width:1024px) {
  #content{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  #header{
    height:150px;
    font-size: 80px;
  }
}